* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

:root {
  font-size: 62.5%;
}

main {
  display: flex;
  gap: 19rem;

  text-align: center;
  align-items: center;
  height: 100vh;

  margin-inline: auto;
  max-width: 82.1rem;
  width: 90%;
}

.timer {
  display: flex;
  margin-bottom: 4rem;

  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
}

.comands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.structure {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 32.1rem;
}

.focus-song {
  max-width: 30.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  gap: 3.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button input {
  position: absolute;
  width: 9rem;
  left: 2rem;
  bottom: 2rem;
}

[type="range"] {

  -webkit-appearance: none;
  background-color: black;
  border-radius: 99rem;
  height: 0.4rem;
}

.focus-song input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 99rem;
  background-color: black;
}

.florest,
.rain,
.coffe,
.fireplace {
  background: #E1E1E6;
  position: relative;
  border-radius: 4rem;
  fill: #323238;
}

.play,
.stop,
.sum,
.sub {
  transition: 200ms;
}

.play:hover,
.stop:hover,
.sum:hover,
.sub:hover {
  transform: scale(1.1);
}

.florest:hover,
.rain:hover,
.coffe:hover,
.fireplace:hover {
  transform: scale(1.1);
}

.florest svg,
.rain svg,
.coffe svg,
.fireplace svg {
  transition: 300ms;
}

.florest svg:hover,
.rain svg:hover,
.coffe svg:hover,
.fireplace svg:hover {
  transform: scale(1.1);
}

.selectedOne {
  fill: white;
  background: #019d03;
}

.selectedTwo {
  fill: white;
  background: #02799D;
}

.selectedThree {
  fill: white;
  background: #dfd931;
}

.selectedFour {
  fill: white;
  background: #e96304;
}

.light,
.dark {
  position: absolute;
  right: 5rem;
  top: 2rem
}

.dark-mode {
  background-color: #000;
}

.dark-mode .florest,
.dark-mode .rain,
.dark-mode .coffe,
.dark-mode .fireplace {
  background: #29292E;
  position: relative;
  border-radius: 4rem;
}

.dark-mode button .svg-florest,
.dark-mode button .svg-rain,
.dark-mode button .svg-coffe,
.dark-mode button .svg-fireplace {
  fill: rgb(194, 193, 193);
}

.dark-mode [type="range"] {
  -webkit-appearance: none;
  background-color: #ffffff;
  border-radius: 99rem;
  height: 0.4rem;
}

.dark-mode .focus-song input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 99rem;
  background-color: #ffffff;
}

.dark-mode span {
  color: white;
}

.dark-mode .selectedOne {
  fill: white;
  background: #003801;
}

.dark-mode .selectedTwo {
  fill: white;
  background: #012c39;
}

.dark-mode .selectedThree {
  fill: white;
  background: #454303;
}

.dark-mode .selectedFour {
  fill: white;
  background: #5e2e01;
}

@media (max-width: 56.25rem) {

  main {
    gap: 9rem;
    margin: .5rem auto .5rem auto;
    padding: .9rem;
  }
}

@media (max-width: 51.875rem) {
  main {
    flex-direction: column;
    gap: 5rem;
    margin: 10rem auto 10rem auto
  }

  .timer {
    margin-bottom: 2rem;
  }
}